.buttonOuterWrap {
  max-width: 400px;
  position: absolute;
  bottom: 0px;
  right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.buttonInnerWrap {
  z-index: 1000;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 158, 219, 0.6) !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
  z-index: 100000;
}

.button {
  border: none;
  background: transparent;
}

.buttonImage {
  width: 30px;
  height: 30px;
}

.childrenWrap {
  z-index: 100000;
  width: 400px;
  position: absolute;
  bottom: 0px;
  right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}

.childrenWrap {
  display: flex;
  justify-content: center;
  align-items: end;
}

.closeButton {
  width: 50px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  color: rgba(250, 250, 250, 0.8) !important;
  background: rgba(60, 60, 60, 0.4);
  border-radius: 50%;
  border: rgba(250, 250, 250, 0.2) solid 1px;
}
