.trendButtonWrap {
  flex: 46%;
}

.trendButton {
  width: 100%;
  padding: 6px;
  text-align: center;
  margin-bottom: 8px;
}

.suggestListHeader {
  width: 100%;
  margin: auto;
  text-align: center;
  color: rgba(236, 236, 241, 1);
  background: rgba(52, 53, 65, 0.8);
  backdrop-filter: blur(2px);
  line-height: 2.5rem;
  height: 2.5rem;
}

.suggestListWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 2%;
}

.suggestListItem {
  font-size: 0.8em;
  margin-top: 12px;
  padding: 6px;
}
