.buttonOuterWrap {
  width: 100vw;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.buttonInnerWrap {
  z-index: 1000;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 158, 219, 0.6) !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
  z-index: 100000;
}

.button {
  border: none;
  background: transparent;
}

.buttonImage {
  width: 30px;
  height: 30px;
}

.childrenWrap {
  z-index: 100000;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}

.closeButton {
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  background: rgba(5, 5, 5, 0.5);
  border-radius: 50%;
  margin: 10px;
}
