.textInput {
  position: relative;
}

.textInputTextarea {
  font-size: 1em;
  font-weight: 400;
  color: rgb(236, 236, 241);
  background: rgba(64, 65, 79, 0.9);
  border-radius: 2px;
  height: auto;
  line-height: 1rem;
  min-height: 40px;
  max-height: 200px;
  width: 100%;
  padding: 14px 46px 14px 12px;
  white-space: pre-wrap;
  resize: none;
  overflow-y: hidden;
}

.textInputButton {
  position: absolute;
  top: 6px;
  right: 6px;
  color: rgb(253, 254, 255);
  background: rgba(96, 104, 124, 1);
  box-shadow: 0 2px 6px 0 rgba(96, 104, 124, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 2px;
}
