.textInput {
  position: relative;
}

.textInputTextarea {
  font-size: 1em;
  font-weight: 400;
  color: rgb(236, 236, 241);
  background: rgba(64, 65, 79, 0.8);
  backdrop-filter: blur(2px);
  border-radius: 0.75rem;
  height: auto;
  line-height: 1rem;
  min-height: 50px;
  max-height: 200px;
  width: 100%;
  padding: 14px 46px 14px 10px;
  white-space: pre-wrap;
  resize: none;
  overflow-y: hidden;
}

.textInputButton {
  position: absolute;
  top: 8px;
  right: 8px;
  color: rgb(253, 254, 255);
  background-color: rgba(0, 158, 219, 0.8) !important;
  border: none;
  border-radius: 0.375rem;
}

.textInputButton:disabled {
  background-color: rgba(0, 158, 219, 0.4) !important;
}
