@font-face {
  font-family: emoji;
  /*
    https://xem.github.io/unicode13/emoji.html
  */
  src: url(/Twemoji.ttf);
  /*
    https://github.com/mozilla/twemoji-colr/issues/56
  */
  unicode-range: U+00A9-E007F;
}

* {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0.9);
  background: rgba(0, 0, 0, 0.6);
}

input[type="button"]:disabled {
  opacity: 0.4;
  background-color: rgba(0, 158, 219, 0.95) !important;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

textarea {
  border: 2px solid rgba(0, 158, 219, 0.4);
  outline: none;
}
textarea:focus {
  border: 2px solid rgba(0, 158, 219, 0.95);
  box-shadow: 1px 1px 1px 0 rgba(0, 158, 219, 0.7);
  outline: none;
}

main {
  min-height: 100vh;
  min-height: 100dvh;
}

div.overlay {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.blinkingCursor::after {
  content: "";
  width: 10px;
  height: 1.17em;
  margin-top: 4px;
  margin-left: 4px;
  background: rgba(0, 158, 219, 1);
  display: inline-block;
  animation: cursor-blink 0.2s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.textInputTextarea {
  font-size: 1.25em;
  font-weight: 400;
  color: rgb(236, 236, 241);
  background: rgba(64, 65, 79, 0.9);
  border-radius: 2px;
  height: auto;
  line-height: 1rem;
  min-height: 46px;
  max-height: 200px;
  width: 100%;
  padding: 14px 46px 14px 12px;
  white-space: pre-wrap;
  resize: none;
  overflow-y: hidden;
}

.textInputButton {
  position: absolute;
  bottom: 14px;
  right: 10px;
}

main.tridentMain {
  width: 100vw;
  height: 100dvh;
}

.tridentBackgroundWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
}

.tridentBackgroundFlag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 158, 219, 1);
  background-image: url("/Flag_of_the_United_Nations.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
}

.tridentBackgroundOverlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.tridentDialogueOuterWrap {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0px 0px 5vh;
  width: 40%;
  height: 100vh;
  overflow-y: scroll;
}

.tridentMapTitle {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  color: rgba(236, 236, 241, 1);
  background: rgba(52, 53, 65, 0.8);
  backdrop-filter: blur(2px);
  line-height: 2.5rem;
  height: 2.5rem;
  z-index: 2000;
}

.tridentDialogueInnerWrap {
  width: 95%;
  margin: 0 auto 15vh;
  z-index: 1000;
  background: transparent;
}

.tridentInputOuterWrap {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 40%;
  margin: auto;
  overflow-y: scroll;
}

.tridentInputInnerWrap {
  width: 95%;
  margin: auto;
}

.tridentMapWrap {
  position: fixed;
  top: 0;
  left: 40%;
  margin: 0;
  width: 60%;
  height: 100%;
  z-index: 1000;
}

.tridentMapSelectWrap select {
  font-size: 1rem;
  line-height: 1.4;
  appearance: none;
  border-radius: 12px;
  min-height: 20px;
  margin: 0px;
  padding: 2px 8px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  background-color: white;
  font-family: sans-serif, emoji;
}

@media screen and (max-width: 600px) {
  * {
    font-size: 14px;
  }
  .tridentDialogueInnerWrap {
    width: 100%;
    margin: 0 auto 15vh;
    z-index: 1000;
    background: transparent;
  }
  .tridentBackgroundWrap {
    width: 100%;
    height: 50dvh;
    top: inherit;
    bottom: 0;
  }
  .tridentDialogueOuterWrap {
    width: 100%;
    height: 50dvh;
    top: inherit;
    bottom: -5vh;
  }
  .tridentInputOuterWrap {
    width: 100%;
    height: auto;
  }
  .tridentMapWrap {
    width: 100%;
    top: 0;
    left: 0;
    height: 50dvh;
  }
  .dialogueElementItem {
    gap: 0px;
    width: 100%;
    padding: 4px 2px;
    margin: 4px 0;
  }
  .textInputTextarea {
    font-size: 1em;
    line-height: 1em;
    padding: 12px 46px 8px 8px;
    min-height: 40px;
  }
  .textInputButton {
    position: absolute;
    bottom: 8px;
    right: 2px;
  }
}
