.buttonOuterWrap {
  max-width: 400px;
  position: absolute;
  bottom: 0px;
  right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.buttonInnerWrap {
  z-index: 1000;
  width: 50px;
  height: 50px;
  background-color: white !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
  z-index: 100000;
}

.button {
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttonImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
